body {
    font-family: 'Roboto', sans-serif;
}

.landing-page {
    background-image: url("./images/ski.png");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 3%;
    height: 100vh;
    width: 100vw;
}

.welcome {
    text-align: center;
    text-indent: 0px;
    margin-right: 5%;
}

.placeholder {
    background-image: url("./images/resort.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 55vw;
}

.select {
    margin-left: 15%;
    font-size: 23px;
}

.resorts-img {
    height: 90vh;
    width: 45vw;
}

.button {
    border: 1px solid blue;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.btn-red {
    background-color: red;
    border: red
}

h2 {
    text-align: center;  
}

ul {
    list-style-type: none;
    padding: 0;

}

#showMap-btn {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

header {
    font-family: 'Bangers';
    font-size: 20px;
    text-align: center;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
}

#mapid {
     height: 60vh; 
     width: 46vw;
}


.results-page {
    grid-area: yelp;
}

.grid-container {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10px;

}

.weather-aside {
    grid-area: weather;
    background-color: #ddd;
    width: 350px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;
    padding: 10px;
}

.weather-heading {
    border-bottom: 1px solid;
    margin-right: 30%;
    width: 100%;
}

.city-name {
    padding: 5px 10px;
}

.weather-data {
    padding: 0 10px;
}

.hidden {
    display:none;
}

.yelp-content {
	border-bottom: 1px solid #DDE0E7;
	padding: 1.4rem;
	color: #4a5666;
}


.yelp-list li {
    height: 500px;
    display: inline-block;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ddd;
}

.yelp-list h2 {
    border-bottom: 1px solid #ccc;
}

.sort-rating-btn {
    margin-right: 50px;
    margin-top: 20px;
}

.sort-price-btn {
    margin-left: 50px;
}

main {
    width: 100%
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

    #results {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-gap: 5px;
    }

    .p-wrapper {
        margin-left: 10px;
    }

    .disabled-btn {
        background-color: #9F9FCA;
        border: 2px solid #E5E5E5;
        cursor: default;
        color:  #E5E5E5;
      }


    /* Tablet Screen */
@media screen and (max-width: 768px) {
    #results {
        grid-template-columns: 45% 45%;
        grid-gap: 50px;
    }
}

  
    /* Mobile Screen */
@media screen and (max-width: 480px) {
   .grid-container {
        display: block
    }

    #mapid, .placeholder {
        width: 100vw;
    }

    .weather-aside {
        position: relative;
        top: 10px;
    }

    #results {
        display: block;
        margin-left: 30px;
    }

    .yelp-list {
        padding-right: 90px;
    }

    .yelp-list li {
        height: inherit;
        width: inherit;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .sort-rating-btn {
        margin-top: 100px;
    }

    .placeholder {
        background-image: none;
    }
}